<div class="row action-buttons-list">
    <button class="btn btn-primary" type="button" (click)="AddCompany()">Add Company</button>
</div>    

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-title">Pepsi<p>
                            <p class="card-category">2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <ul class="card-actions">
                    <li><a (click)="EditCompany()">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-title">Coke<p>
                            <p class="card-category">2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <ul class="card-actions">
                    <li><a (click)="EditCompany()">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-title">Murree Brewery<p>
                            <p class="card-category">2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <hr>
                <ul class="card-actions">
                    <li><a (click)="EditCompany()">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
